.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
  height: 700px;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

div {
  background-color: rgb(194, 181, 157);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: white;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  size: 48pt;
  text-align: center;
  background-color: rgb(194, 181, 157);
}

.article {
  padding: 10px;
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  background-color: cornsilk;
}